@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-content {
    padding: 30px 60px;
    font-family: 'Poppins', Times, serif;
    background-color: rgb(245, 245, 245);
}

.nav-bar-s {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 100px;
}

.logo-s {
    font-size: clamp(24px, 5vw, 36px);
    color: #01b954;
    cursor: pointer;
    text-decoration: none;
}

.nav-links,
.nav-links-r {
    display: flex;
    align-items: center;

    gap: 20px;
}

.nav-links a,
.nav-links-r a {
    text-decoration: none;

    font-size: 20px;
    color: black;
}

.signUp-btn {
    background-color: #01b954;
    cursor: pointer;

    border: none;
    border-radius: 10px;

    color: aliceblue;

    padding: 8px;

    font-size: 18px;
}

.login-btn {
    background-color: transparent;
    cursor: pointer;

    border: none;
    border-radius: 10px;

    color: aliceblue;

    padding: 8px;

    font-size: 18px;
    color: #141414;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 80px;
}

.about-container {
    display: flex;
    justify-content: space-between;

    gap: 60px;
    margin-bottom: 100px;
}

.about-content {
    flex: 1;

    margin-bottom: 20px;
}

.heading-1 {
    font-weight: 1000;
    font-size: clamp(28px, 5vw, 56px);
    margin-bottom: 40px;
}

.subHeading-1 {
    font-size: clamp(18px, 3vw, 24px);
}

.about-img {
    flex: 1;
    /* min-height: 500px; */

    border-radius: 16px;
    background-color: #ededed;
}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.startAnalyzing {
    width: 250px;
    height: 55px;
    cursor: pointer;

    background-color: #01b954;

    border: none;
    border-radius: 32px;

    color: aliceblue;

    padding: 8px;

    font-size: 24px;
}

/* .working{
    display: flex;
    flex-direction: column;

    margin-bottom: 80px;
}
.working p{
    font-weight: 1000;

    font-size: 56px;

    margin-bottom: 16px;
}
.steps{
    display: flex;
    align-items: center;
    gap: 10px;
}
.step{
    background-color:#fbfbfb;
    padding: 10px;
    border-radius: 8px;
} */
.features-container {
    display: flex;
    flex-direction: column;

    margin-bottom: 80px;
}

.features-container-p {
    font-weight: 1000;
    font-size: clamp(28px, 5vw, 56px);
    margin-bottom: 16px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    gap: 30px;
}

.feature {
    background-color: #ededed;
    padding: 10px;
    border-radius: 8px;

    flex: 1 1 calc(24% - 20px);
    /* min-width: 300px; */

}

.feature img {
    height: 250px;
    width: 100%;
    border-radius: 18px;
    padding: auto;
}

.feature_2 {
    /* height: 60%; */
}

.feature p {
    font-size: clamp(18px, 3vw, 22px);
}

.contact {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.contact p {
    font-weight: 1000;

    font-size: clamp(28px, 5vw, 56px);

    margin-bottom: 16px;
}

.contact-content {
    display: flex;
    justify-content: center;

    gap: 40px;
}

.contactInfo {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    padding: 20px;

    border-radius: 16px;
    background-color: #ededed;
}

.map-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    height: inherit;
    overflow: hidden;
    margin-bottom: 20px;

}


.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-container {
    display: flex;
    flex-direction: column;

    padding: 20px 30px;

    border-radius: 16px;
    background-color: #ededed;
}

.contact-details {
    display: flex;
    justify-content: center;
}

.contact-details p {
    font-size: 36px;
}

.contact-container form {
    margin: 10px 0px;
}

.label-input {
    display: flex;
    flex-direction: column;
}

.label-input input {
    width: 100%;

    margin-bottom: 10px;

    font-size: 24px;
}

.label-input textarea {
    outline: none;

    width: 100%;

    font-size: 24px;
}

.send-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #141414;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    /* transition: 0.3s ease-in-out; */

    margin-top: 30px;
}

@media (max-width: 1020px) {
    .about-container {
        flex-direction: column;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contactInfo {
        /* min-height: 400px; */
        width: 100%;
    }

    .contact-container {
        width: 100%;
    }
}

@media (max-width: 840px) {
    .nav-links {
        display: none;
    }
}